<ion-header>
  <ion-navbar>
    <ion-title>Ingreso orden de trabajo</ion-title>
  </ion-navbar>
</ion-header>
<!-- Contenido de la vista -->
<ion-content>
  <ion-card center>
    <ion-card-content>
      <!-- Ingreso de patente -->
      <ion-item>
        <ion-label color="primary" stacked>Ingrese patente</ion-label>
        <ion-input type="text" name="patente" placeholder="Ingrese patente" maxlength="6"></ion-input>
      </ion-item>
      <!-- Ingreso de fecha hora OT -->
      <ion-item>
        <ion-label item-start color="primary" stacked>Fecha y hora de OT</ion-label>
        <button item-end ion-button outline icon-right (click)="picker.open()">
          <ion-icon name="calendar"> </ion-icon>
          <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" min="2017" max="2030" cancelText="Cancelar" doneText="Aceptar" [(ngModel)]="fechaIngreso"></ion-datetime>
        </button>
      </ion-item>
      

    </ion-card-content>
  </ion-card>
</ion-content>