<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (tap)="continuar(false)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Ingreso aval</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="continuar(true)" #formAval="ngForm">
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-50>
          <ion-card>
            <ion-item>
              <ion-checkbox [(ngModel)]="clienteComoAval" name="cliente_aval" (ionChange)="clienteAval(clienteComoAval)"></ion-checkbox>
              <ion-label>Ingresar cliente como Aval</ion-label>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>Rut *</ion-label>
              <ion-input [disabled]="!verificaClienteAval()" type="text" [(ngModel)]="aval.rut" maxlength="12" name="rut" placeholder="Ingrese rut" (ionChange)=formatoRut()
                (focusout)=foco()></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Nombre *</ion-label>
              <ion-input [disabled]="!verificaClienteAval()" [(ngModel)]="aval.nombre" type="text" name="nombre" placeholder="Ingrese nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Dirección *</ion-label>
              <ion-input [disabled]="!verificaClienteAval()" [(ngModel)]="aval.direccion" type="text" name="direccion" placeholder="Ingrese dirección"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Ciudad *</ion-label>
              <ion-select [disabled]="!verificaClienteAval()" [(ngModel)]="aval.ciudad" name="ciudad" no-lines placeholder="Seleccione ciudad"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="ciu.cod_ciudad_ciudad" (ionSelect)="seleccionaComuna(ciu.cod_ciudad_ciudad)" *ngFor="let ciu of ciudades">{{ ciu.des_nombre_ciudad | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Comuna *</ion-label>
              <ion-select [disabled]="!verificaClienteAval()" [(ngModel)]="aval.comuna" name="comuna" no-lines placeholder="Seleccione comuna"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="comuna.cod_comuna_comuna" *ngFor="let comuna of comunas">{{ comuna.des_nombre_comuna | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Sector *</ion-label>
              <ion-select [disabled]="!verificaClienteAval()" [(ngModel)]="aval.sector" name="sector" no-lines placeholder="Seleccione zona"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="sec.cod_sector_sector" *ngFor="let sec of sectores">{{ sec.des_sector_sector | uppercase}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Actividad *</ion-label>
              <ion-select [disabled]="!verificaClienteAval()" [(ngModel)]="aval.actividad" name="actividad" no-lines placeholder="Seleccione actividad"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="act.cod_cargo_cargo" *ngFor="let act of actividades">{{ act.des_descripcion_cargo | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Estado Civil *</ion-label>
              <ion-select [disabled]="!verificaClienteAval()" [(ngModel)]="aval.civil" name="civil" no-lines placeholder="Seleccione estado civil"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="civil.cod_estadocivil_estadocivil" *ngFor="let civil of estadosCiviles">{{ civil.des_descripcion_estadocivil | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <ion-item>
              <ion-label color="primary" stacked>Correo electrónico *</ion-label>
              <ion-input [disabled]="!verificaClienteAval()" type="text" [(ngModel)]="aval.correo" name="correo" placeholder="Ingrese correo electronico"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Teléfono fijo</ion-label>
              <ion-input [disabled]="!verificaClienteAval()" type="text" [(ngModel)]="aval.telefono" name="telefono" placeholder="Ingrese telefono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Celular</ion-label>
              <ion-input [disabled]="!verificaClienteAval()" type="text" [(ngModel)]="aval.celular" name="celular" placeholder="Ingrese celular"></ion-input>
            </ion-item>
            <button [disabled]="!verificaClienteAval()" ion-item item-start outline type="button" icon-end (tap)="picker.open()">
              <ion-icon name="calendar" item-end color="primary"></ion-icon>
              <ion-datetime #picker pickerFormat="DD MMMM YYYY" min="1900" max="2019" cancelText="Cancelar" doneText="Aceptar"
                [(ngModel)]="aval.fechaNacimiento" name="fecha_nacimiento"></ion-datetime>
              <ion-label>Fecha de nacimiento *</ion-label>
            </button>
            <ion-item>
              <ion-label color="primary" stacked>Edad *</ion-label>
              <ion-input [disabled]="!verificaClienteAval()" [(ngModel)]="aval.edad" type="number" name="edad" placeholder="Ingrese edad"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Renta liquida *</ion-label>
              <ion-input [(ngModel)]="aval.renta" type="number" name="renta" placeholder="Ingrese renta liquida"></ion-input>
            </ion-item>
            <ion-item *ngIf="verificaClienteAval()">
              <ion-label color="primary" stacked>Parentesco *</ion-label>
              <ion-select  [(ngModel)]="aval.parentesco" name="parentesco" no-lines placeholder="Seleccione parentesco"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="par.cod_parentesco_parentesco" *ngFor="let par of parentesco">{{ par.des_parentesco_parentesco | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <button type="submit" ion-button full color="primary" (tap)="formAval.ngSubmit.emit()">{{ botonNombre }}</button>
</ion-footer>