<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Inicio</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="mostrarMenu($event)">
         <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content>
    <div>
      <!-- <iframe class="iframe" [src]="url" scrolling="no" frameborder="0" style="top: 0;left: 0;width: 100%;"></iframe> -->
    </div>
</ion-content>