<ion-header>
  <ion-navbar>
    <ion-title>Registro de Nota de Venta</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (tap)="volver()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="terminar(true)" #fromSalud>
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-50>
          <ion-card no-padding>
            <ion-list radio-group [(ngModel)]="salud.responde" name="responde">
              <ion-list-header>
                ¿Responde lo solicitado? *
              </ion-list-header>
              <ion-item>
                <ion-label>Sí</ion-label>
                <ion-radio value="true" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio value="false"></ion-radio>
              </ion-item>
            </ion-list>
            <!-- <ion-item>
              <ion-label color="primary" stacked>Peso *</ion-label>
              <ion-input [(ngModel)]="salud.peso" maxlength="3" type="number" name="peso" placeholder="Ingrese peso"></ion-input>
            </ion-item> -->
            <!-- <ion-item>
              <ion-label color="primary" stacked>Estatura *</ion-label>
              <ion-input [(ngModel)]="salud.estatura" name="estatura" maxlength="3" type="number" name="estatura" placeholder="Ingrese estatura"></ion-input>
            </ion-item> -->
            <!-- <ion-item>
              <ion-label color="primary" stacked>Presión arterial *</ion-label>
              <ion-select [(ngModel)]="salud.presion" name="presion" no-lines placeholder="Seleccione presión arterial" cancelText="Cancelar"
                okText="Ok">
                <ion-option [value]="pres.id_codigo_parterial" *ngFor="let pres of presionArterial">{{ pres.des_tipo_parterial | uppercase}}</ion-option>
              </ion-select>
            </ion-item> -->
            <ion-item>
              <ion-label color="primary" stacked>Nombre ejecutivo *</ion-label>
              <ion-input [(ngModel)]="salud.ejecutiva" disabled="true" type="text" name="ejecutiva" placeholder="Nombre ejecutivo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Comentario</ion-label>
              <ion-input [(ngModel)]="salud.comentario" maxlength="100" type="text" name="comentario" placeholder="Ingrese comentario"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card no-padding>
            <div #fixedContainer ion-fixed>
              <h3>Firma titular</h3>
                <canvas #imageCanvas (touchstart)="iniciarDibujo($event)" (touchmove)="dibujado($event)"></canvas>
                <button ion-button type="button" (tap)="limpiaFirma()" >
                  <ion-icon name="trash"></ion-icon>
                </button>    
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <button type="submit" ion-button full color="primary" (tap)="terminar()">Terminar</button>
</ion-footer>