<ion-menu [content]="">
    <ion-content>
        <ion-list>
            <p>some menu content, could be list items</p>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage"></ion-nav>
