<ion-header>
  <ion-navbar>
    <ion-title>Ingreso nota de venta</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

</ion-content>