<ion-header>
  <ion-navbar>
    <ion-title>Registrar estado vehículo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="guardar()">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-md-4>
          <ion-card center >
            <ion-card-header text-center>
              Carrocería
            </ion-card-header>
            <!-- Contenido -->
            <ion-card-content no-padding>
              <ion-list>
                <ion-item *ngFor="let car of carroceria">
                  <ion-label>{{ car.nombre }}</ion-label>
                  <ion-checkbox checked="{{ car.estado }}"></ion-checkbox>
                </ion-item>               
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card center>
            <ion-card-header text-center>
              Faroles
            </ion-card-header>
            <!-- Contenido -->
            <ion-card-content no-padding>
              <ion-list>
                <ion-item *ngFor="let far of faroles">
                  <ion-label>{{ far.nombre }}</ion-label>
                  <ion-checkbox checked="{{ far.estado }}"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card center>
            <ion-card-header text-center>
              Inventario
            </ion-card-header>
            <!-- Contenido -->
            <ion-card-content no-padding>
              <ion-list>
                <ion-item *ngFor="let inv of inventario">
                  <ion-label>{{ inv.nombre }}</ion-label>
                  <ion-checkbox checked="{{ inv.estado }}"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
  <button ion-button full color="primary" (click)="guardar()">Guardar</button>
</ion-footer>