<ion-header>
  <ion-navbar>
    <ion-title>Registar documentos del vehículo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="guardar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-item>
    <ion-label item-start color="primary">Revisión Técnica</ion-label>
    <button item-end ion-button outline icon-right (click)="picker.open()">
      <ion-icon name="calendar"></ion-icon>
      <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" 
      min="2017" 
      max="2030" 
      cancelText="Cancelar" 
      doneText="Aceptar" 
      [(ngModel)]="fechaRevisionTec">
    </ion-datetime>
    </button>
  </ion-item>

  <ion-item>
    <ion-label item-start color="primary">Revisión de Gases</ion-label>
    <button item-end ion-button outline icon-right (click)="picker.open()">
      <ion-icon name="calendar"> </ion-icon>
      <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" 
      min="2017" 
      max="2030" 
      cancelText="Cancelar" 
      doneText="Aceptar" 
      [(ngModel)]="fechaRevGases">
    </ion-datetime>
    </button>
  </ion-item>

  <ion-item>
    <ion-label item-start color="primary">Permiso de Circulación</ion-label>
    <button item-end ion-button outline icon-right (click)="picker.open()">
      <ion-icon name="calendar"> </ion-icon>
      <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" 
      min="2017" 
      max="2030" 
      cancelText="Cancelar" 
      doneText="Aceptar" 
      [(ngModel)]="fechaPermCirculacion">
    </ion-datetime>
    </button>
  </ion-item>

  <ion-item>
    <ion-label item-start color="primary">Seguro Obligatorio</ion-label>
    <button item-end ion-button outline icon-right (click)="picker.open()">
      <ion-icon name="calendar"> </ion-icon>
      <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" 
      min="2017" 
      max="2030" 
      cancelText="Cancelar" 
      doneText="Aceptar" 
      [(ngModel)]="fechaSeguroObl">
    </ion-datetime>
    </button>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button full color="primary" (click)="guardar()">Guardar</button>
</ion-footer>