page-nota-venta {
   .header .col {
        background-color:color($colors, primary);
        color: color($colors,blanco);
    }
    
    .col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
    }
    
    .col:last-child {
        border-right: solid 1px grey;
    }
    
    .row:last-child .col {
        border-bottom: solid 1px grey;
    }
    ion-row {
        text-align: center;
    }

    .modal-wrapper {
        width: 90%;
        height: 65%; 
    }

    .icono{
        position: relative;
        display: inline-block;
        margin: -1px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 3px;
        
        width: 38px;
        height: 38px; 
        font-size: 30px; 
        
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius: 50%;
        
        border: 1px solid #ebebeb;
        background: color($colors, primary);
        color: #fff;
        text-align:center;
    }
}