<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notas de venta</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (tap)="mostrarMenuPrincipal($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Seleccion de fecha -->
  <ion-card>
    <ion-item>
      <ion-label>Seleccione fecha</ion-label>
      <ion-datetime [(ngModel)]="fecha" min="2018" (ionChange)="cambiaFecha(fecha)" max="2030" displayFormat="MMMM YYYY" cancelText="Cancelar"
        doneText="Aceptar">
      </ion-datetime>
    </ion-item>
  </ion-card>
  <!-- Iteracion de notas de ventas -->
  <ion-card [hidden]="!cargado">
    <!-- Contenido tarjeta -->
    <ion-card-content>
      <ion-row class="row header">
        <ion-col class="col" col-1>
          <strong>#</strong>
        </ion-col>
        <ion-col class="col" col>
          <strong>RUT CLIENTE</strong>
        </ion-col>
        <ion-col class="col" col>
          <strong>EMPLEADOR</strong>
        </ion-col>
        <ion-col class="col" col>
          <strong>FECHA</strong>
        </ion-col>
        <ion-col class="col" col>
          <strong>TIPO</strong>
        </ion-col>
        <ion-col class="col" col>
          <strong>ESTADO</strong>
        </ion-col>
        <ion-col class="col" col>
          <strong>ACCION</strong>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of notas">
        <ion-col class="col" col-1>{{ item.num_nvta_contrato }}</ion-col>
        <ion-col class="col" col>{{ item.cod_cliente_cliente }}</ion-col>
        <ion-col class="col" col>{{ item.des_nombre_empresa | uppercase }}</ion-col>
        <ion-col class="col" col>{{ item.dat_fecha_notavta | date: 'dd MMMM yyyy' }}</ion-col>
        <ion-col class="col" col>{{ item.des_tipo_necesidad | uppercase }}</ion-col>
        <ion-col class="col" col>{{ item.des_estado_contrato | uppercase }}</ion-col>
        <ion-col class="col" center>
          <!-- Boton editar -->
          <ion-icon class="icono" name="document" item-end (tap)="editarNota(item)"></ion-icon>
          <!-- Boton eliminar -->
          <ion-icon class="icono" name="close" item-end (tap)="eliminarNota(item)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- Boton Flotante -->
  <ion-fab bottom right>
    <button ion-fab (tap)="ingresarNotaVenta()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>