<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!esBusqueda">Tareas pendientes</ion-title>
    <!-- Boton d emenu -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!-- Barra de busqueda -->
    <ion-searchbar *ngIf="esBusqueda"
      cancelButtonText="Cancelar"   
      placeholder="Buscar tareas...">
    </ion-searchbar>

    <!-- Iconos de la barra -->
    <ion-buttons right>
      <button ion-button icon-only *ngIf="!esBusqueda" (click)="cambiarBusqueda()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="esBusqueda" (click)="cambiarBusqueda()">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button icon-only (click)="mostrarMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- Iteracion del arreglo -->
    <ion-card *ngFor="let item of tareasPendientes" (click)="seleccionaTarea(item)">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col col-10><strong>{{ item.patente }}</strong></ion-col>
            <ion-col col-2>
              <button ion-button small clear float-right (click)="mostrarMenu($event)">
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <!-- Contenido tarjeta -->
      <ion-card-content>
        <strong>Actividad </strong> {{ item.descripcion }}
        <strong>Fecha </strong> {{ item.fecha }}
        <strong>Hora </strong> {{ item.hora }}
        <strong>Modelo </strong> {{ item.modelo }}
      </ion-card-content>
      <!-- Estado tarjeta -->
      <footer class="estado{{item.estado}}">
      </footer>
    </ion-card>
</ion-content>