<ion-content>
  <ion-card center>
    <ion-card-header text-center>
      <h1><strong>SISTEMA AVIZOR - PARQUE COPIAPO</strong></h1>
    </ion-card-header>
    <ion-card-content>
      <div>
        <!-- <ion-img class="logo"></ion-img> -->
      </div>
      <ion-item>
        <ion-label color="primary" floating>Ingrese usuario</ion-label>
        <ion-input type="text" name="usuario" [(ngModel)]="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Ingrese contraseña</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <div class="centrar" padding>
        <button ion-button round (click)="iniciarSesion()">Iniciar sesión</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer text-center>
  <strong>PALL PROTECHNOLOGY®</strong>
</ion-footer>