<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Aplicación IONIC
    </ion-title>
  </ion-navbar>


</ion-header>

<ion-content class="fondo">

  <ion-refresher (ionRefresh)='doRefresh($event)'>
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-card>
  <ion-card-header>
    Explore Nearby
  </ion-card-header>

  <ion-list>
    <button ion-item>
      <ion-icon name="medical" item-start></ion-icon>
      Hospital
    </button>

    <button ion-item>
      <ion-icon name="cafe" item-start></ion-icon>
      Cafe
    </button>

    <button ion-item>
      <ion-icon name="beer" item-start></ion-icon>
      Chela
    </button>


  </ion-list>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-chip color="danger">
      <ion-label>Peligro!</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-label>Nico!</ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>
  

  <ion-list>

    <ion-item>
      <ion-label color="primary" floating>Ingrese nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Friends</ion-label>
      <ion-radio value="friends" checked></ion-radio>
    </ion-item>
      <ion-item>
        <ion-range min="-200" max="200" [(ngModel)]="saturation" color="secondary">
          <ion-label range-left>-200</ion-label>
          <ion-label range-right>200</ion-label>
        </ion-range>
      </ion-item>

    <ion-item>
      <ion-label>Pepperoni</ion-label>
      <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pepperoni</ion-label>
      <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-buttons>
    <button ion-button (click)='mostrarAlerta()'>Prueba</button>
  </ion-buttons>  
  <ion-fab bottom right>
    <button ion-fab>+</button>
    <ion-fab-list side="top">
      <button ion-fab>Facebook</button>
      <button ion-fab>Twitter</button>
      <button ion-fab>Youtube</button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab>Vimeo</button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Hola</ion-title>
  </ion-toolbar>
</ion-footer>