<ion-header>
  <ion-navbar>
    <ion-title>Ingreso detalle de venta</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (tap)="continuar(false)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="continuar(true)" #formDetalle="ngForm">
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-50>
          <ion-card no-padding>
            <ion-item>
              <ion-label color="primary" stacked>Tipo de necesidad *</ion-label>
              <ion-select [(ngModel)]="detalle.necesidad" name="necesidad" no-lines placeholder="Seleccione necesidad" cancelText="Cancelar" (ionChange)="seleccionaNecesidad(detalle.necesidad,true,'')"
                okText="Ok">
                <ion-option [value]="ned.cod_tipo_necesidad" *ngFor="let ned of necesidades" (ionSelect)="seleccionaNecesidad(detalle.necesidad,false,ned.bit_Inmediato_necesidad)" >{{ ned.des_tipo_necesidad | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Planimetría *</ion-label>
              <ion-input [(ngModel)]="detalle.planimetria.descripcion" disabled="true" type="text" name="descripcion" placeholder="Planimetría"></ion-input>
              <ion-icon class="icono_mapa" name="map" item-end (tap)="abrirMapa()"></ion-icon>    
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Valor base *</ion-label>
              <ion-input [(ngModel)]="detalle.planimetria.valor_base" disabled="true" type="text" name="valor_base" placeholder="Valor base"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Porcentaje de descuento *</ion-label>
              <ion-input [(ngModel)]="detalle.planimetria.porc_descuento" disabled="true" type="text" name="descuento" placeholder="Porcentaje descuento"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Capacidades *</ion-label>
              <ion-input [(ngModel)]="detalle.planimetria.capacidades" disabled="true" type="text" name="capacidades" placeholder="Capacidades"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Reducciones *</ion-label>
              <ion-input [(ngModel)]="detalle.planimetria.reducciones" disabled="true" type="text" name="reducciones" placeholder="Reducciones"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>UF *</ion-label>
              <ion-input [(ngModel)]="detalle.planimetria.uf" disabled="true" type="text" name="uf" placeholder="Ingrese uf"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card no-padding>
            <ion-item>
              <ion-label color="primary" stacked>Pie *</ion-label>
              <ion-input [(ngModel)]="detalle.planimetria.pie" type="text" name="pie" placeholder="Ingrese pie"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Día de pago *</ion-label>
              <ion-input [(ngModel)]="detalle.dia_pago" type="number" name="dia_pago" placeholder="Ingrese día de pago"></ion-input>
            </ion-item>           
            <button ion-item item-start outline type="button" icon-end (tap)="picker.open()">
              <ion-icon name="calendar" item-end color="primary"></ion-icon>
              <ion-datetime #picker pickerFormat="DD MMMM YYYY" min="2018" max="2030" cancelText="Cancelar" doneText="Aceptar"
                [(ngModel)]="detalle.vencimiento" name="fecha_nacimiento"></ion-datetime>
              <ion-label>Fecha primer vencimiento *</ion-label>
            </button>
            <ion-item>
              <ion-label color="primary" stacked>Número de cuotas *</ion-label>
              <ion-input [(ngModel)]="detalle.cuotas" type="number" name="nro_cuotas" placeholder="Ingrese número de cuotas"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Valor de cuotas *</ion-label>
              <ion-input [(ngModel)]="detalle.valor_cuotas" type="number" name="val_cuotas" placeholder="Ingrese valor de cuotas"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Comentario</ion-label>
              <ion-input [(ngModel)]="detalle.comentario" type="text" name="val_cuotas" placeholder="Ingrese comentario"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <button type="submit" ion-button full color="primary" (tap)="formDetalle.ngSubmit.emit()">Continuar</button>
</ion-footer>