<!-- Cabecera -->
<ion-header>
  <ion-navbar>
    <ion-title>Ingreso de Recepción</ion-title>
  </ion-navbar>
</ion-header>
<!-- Contenido de la vista -->
<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col width-50>
      <!-- Tarjeta de la vista -->
      <ion-card center>
        <!-- Contenido -->
        <ion-card-content no-padding>
          <!-- Ingreso Patente -->
          <ion-item>
            <ion-label color="primary" stacked>Ingrese patente</ion-label>
            <ion-input type="text" name="patente" placeholder="Ingrese patente" maxlength="6"></ion-input>
          </ion-item>
          <!-- Ingreso Visita -->
          <ion-item>
            <ion-label color="primary" stacked>¿Quién trae el vehículo?</ion-label>
            <ion-input type="text" name="visita" placeholder="Visitante"></ion-input>
          </ion-item>
          <!-- Es propietario -->
          <ion-item>
            <ion-label>Propietario</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <!-- Ingrese Motivo -->
          <ion-list>
            <ion-list-header>
              Motivo
            </ion-list-header>
            <ion-item *ngFor="let mot of motivos">
              <ion-label>{{ mot.nombre }}</ion-label>
              <ion-checkbox checked="{{ mot.estado }}"></ion-checkbox>
            </ion-item>
          </ion-list>       
          <!-- Prioridad -->
          <ion-list radio-group>
            <ion-list-header>
              Prioridad
            </ion-list-header>
            <ion-item *ngFor="let prio of prioridades">
              <ion-label>{{ prio.nombre }}</ion-label>
              <ion-radio checked="{{ prio.estado }}"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <!-- Columna 2 -->
      <ion-col width-50>
        <ion-card>
          <!-- Contenido tarjeta 2 -->
          <ion-card-content no-padding>
            <!-- Fecha de ingreso de recepcion -->
            <ion-item>
              <ion-label item-start color="primary" stacked>Fecha de Recepción</ion-label>
              <button item-end ion-button outline icon-right (click)="picker.open()">
                <ion-icon name="calendar"> </ion-icon>
                <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" min="2017" max="2030" cancelText="Cancelar" doneText="Aceptar" [(ngModel)]="fechaIngreso"></ion-datetime>
              </button>
            </ion-item>
            <!-- Ingreso de kilometraje -->
            <ion-item>
              <ion-label color="primary" stacked>Kilometraje</ion-label>
              <ion-input type="number" name="kilometraje" placeholder="Ingrese kilometraje" maxlength="10"></ion-input>
            </ion-item>
            <!-- Rango de bencina -->
            <ion-item>
              <ion-label color="primary" stacked>Bencina {{ valorBencina }}</ion-label>
              <ion-range [(ngModel)]="valorBencina"
                color="primary" 
                pin="true"
                snaps="true"
                min="0" max="100" step="25">
                <ion-icon small range-left name="cloud-outline"></ion-icon>
                <ion-icon range-right name="cloud"></ion-icon>
              </ion-range>
            </ion-item>
            <!-- Milimetros de neumaticos -->
            <ion-list>
              <ion-item no-lines>
                <ion-label color="primary" stacked>Profundidad neumáticos</ion-label>
                <ion-grid item-content>
                  <ion-row>
                    <!-- Fila 1 de neumaticos -->
                    <ion-col col-3>
                      <ion-label color="secondary" stacked>Delantero Izquierdo</ion-label>
                      <ion-input type="number" placeholder="MM" value=""></ion-input>
                    </ion-col>
                    <ion-col col-3>
                      <ion-label color="secondary" stacked>Delantero Derecho</ion-label>
                      <ion-input type="number" placeholder="MM" value=""></ion-input>
                    </ion-col>
                  </ion-row>
                  <!-- Fila 2 de neumaticos -->                 
                  <ion-row>
                    <ion-col col-3>
                      <ion-label color="secondary" stacked>Trasero Izquierdo</ion-label>
                      <ion-input type="number" placeholder="MM" value=""></ion-input>
                    </ion-col>
                    <ion-col col-3>
                      <ion-label color="secondary" stacked>Trasero Derecho</ion-label>
                      <ion-input type="number" placeholder="MM" value=""></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
            <!-- Boton de estado de vehiculo -->
            <ion-item>
              <button ion-button full color="primary" (click)="registrarEstado()">Registrar estado vehículo</button>
            </ion-item>
            <!-- Boton documentacion de vehiculo -->
            <ion-item>
                <button ion-button full color="primary" (click)="registrarDocumentacion()">Documentacion del vehículo</button>
            </ion-item>
          </ion-card-content>
          <!-- Fin contenido tarjeta -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Boton flotante -->
  <ion-fab end bottom >
    <button ion-fab color="azul">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-fab>
</ion-content>