page-mod-nota-ingreso {
    // .no-margen{
    //     margin: 0 !important;
    //     padding: 0 !important;
    //     background-color: red;
    // }
    // .no-margen button, .no-margen ion-label{
    //     margin: 0 !important;
    //     padding: 0 !important;
    //     background-color: red;
    // }
}
