<ion-header>
  <ion-navbar>
    <ion-title>Ingreso nota de venta</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="continuar()" #formCliente="ngForm">
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-50>
          <ion-card no-padding>
            <!-- Columna 1 -->
            <ion-item>
              <ion-label color="primary" stacked>Rut *</ion-label>
              <ion-input #rutInput type="text" [(ngModel)]="cliente.rut" maxlength="12" name="rut" placeholder="Ingrese rut" (ionChange)=formatoRut()
                (focusout)=foco()></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Nombre *</ion-label>
              <ion-input type="text" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Ingrese nombre" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Dirección *</ion-label>
              <ion-input type="text" [(ngModel)]="cliente.direccion" name="direccion" placeholder="Ingrese direccion" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Ciudad *</ion-label>
              <ion-select [(ngModel)]="cliente.ciudad" name="civil" no-lines placeholder="Seleccione ciudad"
                cancelText="Cancelar" okText="Ok" required>
                <ion-option [value]="ciu.cod_ciudad_ciudad" (ionSelect)="seleccionaComuna(ciu.cod_ciudad_ciudad)" *ngFor="let ciu of ciudades">{{ ciu.des_nombre_ciudad | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Comuna *</ion-label>
              <ion-select [(ngModel)]="cliente.comuna" name="comuna" no-lines placeholder="Seleccione comuna"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="comuna.cod_comuna_comuna" *ngFor="let comuna of comunas">{{ comuna.des_nombre_comuna | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Sector *</ion-label>
              <ion-select [(ngModel)]="cliente.sector" name="sector" no-lines placeholder="Seleccione zona"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="sec.cod_sector_sector" *ngFor="let sec of sectores">{{ sec.des_sector_sector | uppercase}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Actividad *</ion-label>
              <ion-select [(ngModel)]="cliente.actividad" name="actividad" no-lines placeholder="Seleccione actividad"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="act.cod_cargo_cargo" *ngFor="let act of actividades">{{ act.des_descripcion_cargo | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <!-- Columna 2 -->
            <ion-item>
              <ion-label color="primary" stacked>Estado Civil *</ion-label>
              <ion-select [(ngModel)]="cliente.civil" name="civil" no-lines placeholder="Seleccione estado civil"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="civil.cod_estadocivil_estadocivil" *ngFor="let civil of estadosCiviles">{{ civil.des_descripcion_estadocivil | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Correo electrónico *</ion-label>
              <ion-input type="email" [(ngModel)]="cliente.correo" name="correo" placeholder="Ingrese correo electrónico"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Teléfono fijo</ion-label>
              <ion-input type="tel" [(ngModel)]="cliente.telefono" name="telefono" placeholder="Ingrese teléfono fijo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Celular</ion-label>
              <ion-input type="tel" [(ngModel)]="cliente.celular" name="celular" placeholder="Ingrese celular"></ion-input>
            </ion-item>
            <button ion-item item-start outline type="button" icon-end (tap)="picker.open()">
              <ion-icon name="calendar" item-end color="primary"></ion-icon>
              <ion-datetime #picker pickerFormat="DD MMMM YYYY" min="1900" max="2019" cancelText="Cancelar" doneText="Aceptar"
                [(ngModel)]="cliente.fechaNacimiento" name="fecha_nacimiento"></ion-datetime>
              <ion-label>Fecha de nacimiento *</ion-label>
            </button>  
            <ion-item>
              <ion-label color="primary" stacked>Edad *</ion-label>
              <ion-input type="number" [(ngModel)]="cliente.edad" name="edad" placeholder="Ingrese edad"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Sexo *</ion-label>
              <ion-select [(ngModel)]="cliente.sexo" name="sexo" no-lines placeholder="Seleccione sexo"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="sex.cod_sexo_sexo" *ngFor="let sex of sexo">{{ sex.des_descripcion_sexo | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <button type="submit" ion-button full color="primary" (tap)="formCliente.ngSubmit.emit()">{{ botonDescripcion }}</button>
</ion-footer>