<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!esBusqueda">Tareas realizadas</ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-searchbar *ngIf="esBusqueda"
        cancelButtonText="Cancelar"
        placeholder="Buscar tareas...">
      </ion-searchbar>


      <ion-buttons right>
        <button ion-button icon-only *ngIf="!esBusqueda" (click)="cambiarBusqueda()">
          <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="esBusqueda" (click)="cambiarBusqueda()">
          <ion-icon name="close"></ion-icon>
        </button>
        <button ion-button icon-only (click)="mostrarMenuPrincipal($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Contenedor de la vista -->
<ion-content>
  <!-- Seleccion de fecha -->
  <ion-card>
    <ion-item>
      <ion-label>Seleccione fecha</ion-label>
      <ion-datetime [(ngModel)]="fecha" min="2018" max="2030" displayFormat="MMMM YYYY" cancelText="Cancelar" doneText="Aceptar">
      </ion-datetime>
    </ion-item>
  </ion-card>

  <!-- Iteracion de tareas realizadas -->
  <ion-card *ngFor="let tarea of tareasRealizadas">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col col-10><strong>{{ tarea.patente }}</strong></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    <!-- Contenido tarjeta -->
    <ion-card-content>
        <strong>Actividad </strong> {{ tarea.descripcion }}
        <strong>Fecha finalizada </strong> {{ tarea.fecha }}
        <strong>Hora finalizada</strong> {{ tarea.hora }}
        <strong>Modelo </strong> {{ tarea.modelo }}
    </ion-card-content>
    <!-- Footer tarjeta -->
    <footer class="estado{{tarea.estado}}">
    </footer>
  </ion-card>

</ion-content>