.estado1 {
    width: 100%;
    height: 5px;
    background-color: red;
}

.estado2 {
    width: 100%;
    height: 5px;
    background-color: blue;
}

ion-card-content strong:first-child{
    margin-left: 0rem !important;
}
ion-card-content strong{
    margin-left: 2.5rem;
}

ion-card-header{
    padding:  0 !important;
    margin: 0 !important;
}

ion-row ion-col:first-child{
    padding-left: 1.5rem;
} 

.t1 {
    text-align: left !important;
    background-color: white !important;
    margin: 0 !important;
}