<ion-header>
  <ion-navbar>
    <ion-title>Iniciar tarea</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h1>{{ tarea.patente }}</h1>
    <h1>{{ timerVal }}</h1>
  </ion-item>

  <!-- Grilla con detalle -->
  <ion-grid>
    <ion-row >
      <ion-col class="columna"><strong>Actividad</strong></ion-col>
      <ion-col >{{ tarea.descripcion }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="columna"><strong>Fecha y hora asignada</strong></ion-col>
      <ion-col>{{ tarea.fecha }} {{ tarea.hora}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="columna"><strong>Modelo</strong></ion-col>
      <ion-col>{{ tarea.modelo }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="columna"><strong>Prioridad</strong></ion-col>
      <ion-col>{{ tarea.prioridad }}</ion-col>
    </ion-row>
  </ion-grid>
  <!-- Grilla de insumos -->
  <ion-grid>
    <ion-row>
      <ion-col class="columna"><strong>Insumos</strong></ion-col>
      <ion-col class="columna"><strong>Cantidad</strong></ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- Ingreso de patente -->
  <ion-item>
    <ion-label color="primary" stacked>Ingrese comentario</ion-label>
    <ion-input type="text" name="comentario" placeholder="Comentario"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button full color="primary" (click)="iniciarTarea()">Iniciar tarea</button>
</ion-footer>