page-ingreso-documentos {  
    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 300px;
        overflow: hidden;

        .scroll-item {
        display: inline-block;
        }

        .selectable-img{
            height: 300px; 
            width: 20%;
            margin-left: 1em;
        }

    }

    /* Hide ion-content scrollbar */
    ::-webkit-scrollbar{
        // display:none;
    }

    .img{
        background: transparent !important;   
    }

    .profilebutton {
        z-index: 2;
        position: absolute;
        left: 22%;
        top: 8%;
        margin: auto;
    }
    .profilepic {
        background: transparent !important;   
        border:1px solid #000;
        width: 65%;
        height: 65%;
    }
    .profilepic-border {
        position: relative;
        background: #a3a3a3;
    }


}