<ion-header>
  <ion-navbar>
    <ion-title>Ingreso orden de trabajo</ion-title>
  </ion-navbar>
</ion-header>
<!-- Contenido de la vista -->
<ion-content>
  <ion-card center>
    <ion-card-content no-padding>
      <!-- Ingreso de patente -->
      <ion-item>
        <ion-label color="primary" stacked>Ingrese patente</ion-label>
        <ion-input type="text" name="patente" placeholder="Ingrese patente" maxlength="6"></ion-input>
      </ion-item>
      <!-- Ingreso de fecha hora OT -->
      <ion-item>
        <ion-label item-start color="primary" stacked>Fecha y hora de OT</ion-label>
        <button item-end ion-button outline icon-start (click)="picker.open()">
          <ion-icon name="calendar"> </ion-icon>
          <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" min="2017" max="2030" cancelText="Cancelar" doneText="Aceptar" [(ngModel)]="fechaIngreso"></ion-datetime>
        </button>
      </ion-item>
      <!-- Selecion de estado -->
      <ion-item no-lines>
        <ion-label color="primary" stacked>
          Estado OT
        </ion-label>
        <ion-select [(ngModel)]="seleccionEstado" no-lines
          placeholder="Seleccione estado"
          cancelText="Cancelar" okText="Ok">
          <ion-option value="PROCESO">En proceso</ion-option>
          <ion-option value="PENDIENTE">Pendiente</ion-option>
        </ion-select>
      </ion-item>
      <!-- Grilla con estados -->
      <ion-grid>
        <ion-buttons end>
          <button ion-button icon-start (click)="agregarTarea()">
            <ion-icon icon-left name="add"></ion-icon> 
            Agregar tarea
          </button>
        </ion-buttons>
        <ion-label color="primary" text-center>
          <h1>
            <strong>
              Tareas
            </strong>
          </h1>
        </ion-label>
        <!-- Cabecera  -->
        <ion-row class="row header"> 
          <ion-col class="col" col-2><strong>Descripción</strong></ion-col>
          <ion-col class="col" col-2><strong>Valor</strong></ion-col>
          <ion-col class="col" col-2><strong>Responsable</strong></ion-col>
          <ion-col class="col" col-2><strong>Estado</strong></ion-col>
          <ion-col class="col" col-2><strong>Programada</strong></ion-col>
          <ion-col class="col" col-2><strong>Acción</strong></ion-col>
        </ion-row>
        <!-- Registro -->
        <ion-row class="row" *ngFor="let tar of tareas" >
          <ion-col class="col" col-2>{{ tar.descripcion }}</ion-col>
          <ion-col class="col" col-2>{{ tar.valor}}</ion-col>
          <ion-col class="col" col-2>{{ tar.responsable}}</ion-col>
          <ion-col class="col" col-2>{{ tar.estado}}</ion-col>
          <ion-col class="col" col-2>{{ tar.mantencion }}</ion-col>
          <ion-col class="col" center>
            <!-- Boton editar -->
            <button ion-button round (click)="editarTarea(tar)">
              <ion-icon name="list-box"></ion-icon>
            </button>
            <!-- Boton eliminar -->
            <button ion-button round (click)="eliminarTarea(tar)">
              <ion-icon name="close" ></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

