<ion-header>

  <ion-navbar>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="guardar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
    <ion-item no-lines>
      <ion-label color="primary" stacked>
        Responsable
      </ion-label>
      <ion-select [(ngModel)]="seleccionResponsable" no-lines placeholder="Seleccione responsable" cancelText="Cancelar" okText="Ok">
        <ion-option value="1">Nicolas Galdames</ion-option>
        <ion-option value="2">Eduardo Figueroa</ion-option>
        <ion-option value="3">Carlos Montenegro</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-list radio-group [(ngModel)]="estados"></ion-list>
      <ion-list-header>
        Estado
      </ion-list-header>
    </ion-item>
    <ion-item *ngFor="let estado of estados">
      <ion-label>{{ estado.nombre }}</ion-label>
      <ion-radio value="{{ estado.id }}"></ion-radio>
    </ion-item>

    <ion-item no-lines>
      <ion-label>
        <strong>
          Fechas
        </strong>       
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label item-start color="primary" stacked>Fecha y hora asiganda</ion-label>
      <button item-end ion-button outline icon-start (click)="picker.open()">
        <ion-icon name="calendar"> </ion-icon>
        <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" min="2017" max="2030" cancelText="Cancelar" doneText="Aceptar" [(ngModel)]="fechaAsiganda"></ion-datetime>
      </button>
    </ion-item>
    <ion-item>
      <ion-label item-start color="primary" stacked>Fecha y hora termino</ion-label>
      <button item-end ion-button outline icon-start (click)="picker.open()">
        <ion-icon name="calendar"> </ion-icon>
        <ion-datetime #picker pickerFormat="DD MMMM YYYY HH:mm" min="2017" max="2030" cancelText="Cancelar" doneText="Aceptar" [(ngModel)]="fechaTermino"></ion-datetime>
      </button>
    </ion-item>


</ion-content>

<ion-footer>
  <button ion-button full color="primary" (click)="guardar()">Guardar</button>
</ion-footer>