<ion-menu [content]="content" width="35">
    
  <ion-content class="menu-content fondo">
    <!-- <ion-card text-center class="hide-card"> -->
      <div text-center class="cabecera">
        <br>
        <img [src]=iconoUsuario class="custom-avatar" />
        <h2>{{ usuarioMenu }}</h2>
        <p>{{ perfilMenu }}</p>
        <br>
      </div>
      <!-- </ion-card> -->
      <ion-list  no-lines>
      <br>
      <button class="fondo"  menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.active]="verificaPagina(p)">
        <ion-icon [name]="p.icono" item-left></ion-icon>
        {{p.titulo}}
      </button>
    </ion-list> 
  </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>