page-mod-nota-ingreso-empleador {
    ion-list-header{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    ion-list-header p{
        color: color($colors, primary) !important;
    }
    .select-1{
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

     .icono{
        position: relative;
        display: inline-block;
        margin: -1px;
        padding: 3px;
        
        width: 38px;
        height: 38px; 
        font-size: 30px; 
        
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius: 50%;
        
        border: 1px solid #ebebeb;
        background: color($colors, primary);
        color: #fff;
        text-align:center;
    }
}
