<ion-header>
  <ion-navbar>
    <ion-title>Planimería</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-70>
        <agm-map *ngIf="verificaManual()" [mapTypeId]="'satellite'" [styles]="estiloMapa" [zoom]="zoom" [streetViewControl]="false" [latitude]="lat" [longitude]="lng">
          <agm-marker *ngFor="let m of listaPlanimetria; let i = index" (markerClick)="seleccionaPlanimetria(m.Letra,m.Numero_fila,m.id_codigo_sector)"
            [iconUrl]="'assets/imgs/cuadradoV.png'" [latitude]="m.latitud_sector" [longitude]="m.longitud_sector" [label]="m.Letra">
          </agm-marker>
        </agm-map>
      </ion-col>
      <ion-col width-30>
        <ion-card no-padding>
          <ion-item>
            <ion-checkbox [(ngModel)]="planMan" name="planimetria_manual" (ionChange)="planimetriaManual(planMan)"></ion-checkbox>
            <ion-label>Seleccionar Planimería Manualmente</ion-label>
          </ion-item>
          <!-- Para pruebas  -->
          <ion-item *ngIf="!verificaManual()">
            <ion-label color="primary" stacked>Planimetrías disponibles</ion-label>
            <ion-select [(ngModel)]="codigo" name="sector" no-lines placeholder="Seleccione planimetría" cancelText="Cancelar" okText="Ok">
              <ion-option [value]="plan.Letra" *ngFor="let plan of listaPlanimetria" (ionSelect)="seleccionaPlanimetria(plan.DescPlanimetria)">{{
                plan.DescPlanimetria | uppercase}}</ion-option>
            </ion-select>
          </ion-item>
          <!-- Fin Pruebas -->
          <ion-item>
            <ion-label color="primary" stacked>Sector *</ion-label>
            <ion-input [disabled]=true [(ngModel)]="planimetria.sector" type="text" name="sector" placeholder="Sector"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Fila *</ion-label>
            <ion-input [disabled]=true [(ngModel)]="planimetria.letra" type="text" name="fila" placeholder="Fila"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Número fila *</ion-label>
            <ion-input [disabled]=true [(ngModel)]="planimetria.numero" type="number" name="numero" placeholder="Número"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Valor base *</ion-label>
            <ion-input [disabled]=true [(ngModel)]="planimetria.valor_base" type="text" name="valor_base" placeholder="Valor base"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Estado *</ion-label>
            <ion-input [disabled]=true [(ngModel)]="planimetria.estado" type="text" name="estado" placeholder="Estado"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Capacidad *</ion-label>
            <ion-input [disabled]=true [(ngModel)]="planimetria.capacidades" type="number" name="capacidades" placeholder="Capacidad"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Reducciones *</ion-label>
            <ion-input [disabled]=true [(ngModel)]="planimetria.reducciones" type="text" name="reducciones" placeholder="Reducciones"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <button ion-button full color="primary" (tap)="guardar()">Guardar</button>
</ion-footer>