<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nota de venta</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="mostrarMenuPrincipal($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Seleccion de fecha -->
  <ion-card>
    <ion-item>
      <ion-label>Seleccione fecha</ion-label>
      <ion-datetime [(ngModel)]="fecha" min="2018" max="2030" displayFormat="MMMM YYYY" cancelText="Cancelar" doneText="Aceptar">
      </ion-datetime>
    </ion-item>
  </ion-card>
  <!-- Iteracion de notas de ventas -->
    <ion-card >
      <!-- Contenido tarjeta -->
      <ion-card-content>
        <ion-row class="row header">
            <ion-col class="col" col-2><strong>Rut cliente</strong></ion-col>
            <ion-col class="col" col-2><strong>Empresa</strong></ion-col>
            <ion-col class="col" col-2><strong>Fecha</strong></ion-col>
            <ion-col class="col" col-2><strong>Tipo</strong></ion-col>
            <ion-col class="col" col-2><strong>Estado</strong></ion-col>
            <ion-col class="col" col-2><strong>Acciones</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let item of notas">
          <ion-col class="col" col-2>{{ item.rut }}</ion-col>
          <ion-col class="col" col-2>{{ item.empresa }}</ion-col>
          <ion-col class="col" col-2>{{ item.fecha }}</ion-col>
          <ion-col class="col" col-2>{{ item.tipo }}</ion-col>
          <ion-col class="col" col-2>{{ item.estado }}</ion-col>
          <ion-col class="col" center>
            <!-- Boton editar -->
            <button ion-button round (click)="editarNota(item)">
              <ion-icon name="list-box"></ion-icon>
            </button>
            <!-- Boton eliminar -->
            <button ion-button round (click)="eliminarNota(item)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- Boton Flotante -->
    <ion-fab bottom right>
      <button ion-fab (click)="ingresarNotaVenta()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>