page-nota-venta {
   .header .col {
        background-color:color($colors, primary);
        color: color($colors,blanco);
    }
    
    .col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
    }
    
    .col:last-child {
        border-right: solid 1px grey;
    }
    
    .row:last-child .col {
        border-bottom: solid 1px grey;
    }
    ion-row {
        text-align: center;
    }

    .modal-wrapper {
        width: 90%;
        height: 65%; 
    }
}