page-mod-nota-ingreso-detalle {
    .icono_mapa{
        position: relative;
        display: inline-block;
        margin: -1px;
        padding: 3px;
        
        width: 38px;
        height: 38px; 
        font-size: 30px; 
        
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius: 50%;
        
        border: 1px solid #ebebeb;
        background: color($colors, primary);
        color: #fff;
        text-align:center;
    }
}