<!-- Cabecera de la vista -->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!esBusqueda">Recepción Vehículo</ion-title>
    <!-- Boton de menu -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- Barra de busqueda -->
    <ion-searchbar 
      *ngIf="esBusqueda" 
      cancelButtonText="Cancelar"
      placeholder="Buscar recepción...">
    </ion-searchbar>
    <!-- Botones de la barra -->
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!esBusqueda" (click)="cambiarBusqueda()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="esBusqueda" (click)="cambiarBusqueda()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Contenedor principal -->
<ion-content>
  <!-- Seleccion de fecha -->
  <ion-card>
    <ion-item>
      <ion-label>Seleccione fecha</ion-label>
      <ion-datetime [(ngModel)]="fecha" min="2018" max="2030" displayFormat="MMMM YYYY" cancelText="Cancelar" doneText="Aceptar">
      </ion-datetime>
    </ion-item>
  </ion-card>

  <!-- Iteracion del arreglo -->
  <ion-card *ngFor="let item of recepciones">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-10>{{ item.patente }}</ion-col>
          <ion-col col-2>
            <button ion-button small clear float-right (click)="mostrarMenu($event)">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <!-- Contenido tarjeta -->
    <ion-card-content>
      <strong>Rut </strong> {{ item.rut }}
      <strong>Empresa </strong> {{ item.empresa }}
      <strong>Fecha </strong> {{ item.fec_rec }}
      <strong>Tipo </strong> {{ item.tipo }}
    </ion-card-content>

    <!-- Estado de la tarjeta -->
    <footer class="estado{{item.estado}}">
    </footer>
  </ion-card>

  <!-- Boton Flotante -->
  <ion-fab bottom right>
    <button ion-fab (click)="ingresarRecepcion()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>