<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (tap)="continuar(false)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Ingreso empleador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="continuar(true)" #formEmpleador="ngForm">
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-50>
          <ion-card>
            <ion-item>
              <ion-label color="primary" stacked>Rut *</ion-label>
              <ion-input type="text" [(ngModel)]="empleador.rut" maxlength="12" name="rut" placeholder="Ingrese rut" (ionChange)=formatoRut()
                (focusout)=foco()></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Nombre *</ion-label>
              <ion-input type="text" [(ngModel)]="empleador.nombre" name="nombre" placeholder="Ingrese nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Dirección *</ion-label>
              <ion-input type="text" [(ngModel)]="empleador.direccion" name="direccion" placeholder="Ingrese dirección"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Ciudad *</ion-label>
              <ion-select [(ngModel)]="empleador.ciudad" name="ciudad" no-lines placeholder="Seleccione ciudad"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="ciu.cod_ciudad_ciudad" (ionSelect)="seleccionaComuna(ciu.cod_ciudad_ciudad)" *ngFor="let ciu of ciudades">{{ ciu.des_nombre_ciudad | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Comuna *</ion-label>
              <ion-select [(ngModel)]="empleador.comuna" name="comuna" no-lines placeholder="Seleccione comuna"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="comuna.cod_comuna_comuna" *ngFor="let comuna of comunas">{{ comuna.des_nombre_comuna | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col width-50>
          <ion-card>
            <ion-item>
              <ion-label color="primary" stacked>Giro empleador *</ion-label>
              <ion-select [(ngModel)]="empleador.giro" name="giro" no-lines placeholder="Seleccione giro empleador"
                cancelText="Cancelar" okText="Ok">
                <ion-option [value]="giro.cod_giro_giro" *ngFor="let giro of girosEmpleador">{{ giro.des_giro_giro | uppercase }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>Teléfono</ion-label>
              <ion-input type="text" [(ngModel)]="empleador.telefono" name="telefono" placeholder="Ingrese teléfono"></ion-input>
            </ion-item>
            <ion-list-header>
              <p color="primary">Documento de acreditación *</p>
            </ion-list-header>
            <ion-item>
              <ion-select class="select-1" item-start [(ngModel)]="empleador.acreditacion" name="acreditacion" (ionChange)="verificaCodigoDoc(empleador.acreditacion)"
                no-lines placeholder="Seleccione documento" cancelText="Cancelar" okText="Ok">
                <ion-option [value]="acre.id_codigo_taingresos" *ngFor="let acre of acreditacion">{{ acre.des_nombre_taingresos | uppercase }}</ion-option>
              </ion-select>
              <ion-icon class="icono" name="cloud-upload" item-end (tap)="seleccionArchivo(true)"></ion-icon>
            </ion-item>
            <ion-list-header>
              <p color="primary">Otros ingresos</p>
            </ion-list-header>
            <ion-item>
              <ion-select [(ngModel)]="empleador.otrosIngresos" name="otrosIngresos" no-lines placeholder="Seleccione otros ingresos" (ionChange)="verificaCodigo(empleador.otrosIngresos)"
                cancelText="Cancelar" okText="Ok">
                <ion-option value="1">SIN OTROS INGRESOS</ion-option>
                <ion-option value="2">INGRESOS PASIVOS</ion-option>
              </ion-select>
              <ion-icon class="icono" name="cloud-upload" item-end (tap)="seleccionArchivo(false)"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <button type="submit" ion-button full color="primary" (tap)="formEmpleador.ngSubmit.emit()">{{ botonNombre }}</button>
</ion-footer>