
.hide-card {
    box-shadow: none!important;
}

.cabecera{
    // background-image: url('../assets/imgs/bkg1.jpg');
     background: linear-gradient(-80deg,color($colors, primary),color($colors, divider));
}

.cabecera h2, .cabecera p {
    color: #ddd !important;
}

.active{
    background-color: color($colors, primary) !important;
    color: color($colors, blanco) !important;
}

.custom-avatar {
    min-width: 2vw;
    max-width: 10vw;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.fondo{
    background-color:#ddd;   
 }

 //Control de los Modals
modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
  .modal-wrapper {
    top: 1% !important;
    right: 1% !important;
    bottom: 1% !important;
    left: 1% !important;
    min-height: 98% !important;
    width: 98% !important;
  }
}


// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
