<ion-header>
  <ion-navbar>
    <ion-title>Ingreso documentos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardar()" #formDocumentos="ngForm">
    <ion-grid no-padding>
      <ion-row>
        <ion-card>
          <ion-label text-center color="primary"><strong>ARCHIVOS</strong></ion-label>
          <ion-item no-lines>
            <ion-scroll scrollX="true">
              <img *ngFor="let item of imagenes; let i = index" src="{{ item }}" class="scroll-item selectable-img" #miImagen (tap)="opcionesImagen(i,miImagen)">             
            </ion-scroll> 
          </ion-item>
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-card>
          <ion-item>
            <ion-label color="primary" stacked>Monto *</ion-label>
            <ion-input type="text" [(ngModel)]="monto" name="monto" placeholder="Ingrese monto"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Comentario</ion-label>
            <ion-textarea type="text" [(ngModel)]="comentario" name="comentario" placeholder="Ingrese comentario" rows="4"></ion-textarea>
          </ion-item>
        </ion-card>
      </ion-row>
    </ion-grid>
  </form>

  <!-- Botones Flotantes -->
  <ion-fab bottom right>
    <ion-row>
      <!-- <ion-col>
        <button (click)="agregarImagenes()" color="orange" ion-fab>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col> -->
      <ion-col>
        <button (click)="camara()" color="secondary" ion-fab>
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-fab>
</ion-content>

<ion-footer>
  <button ion-button full color="primary" (tap)="formDocumentos.ngSubmit.emit()">Guardar</button>
</ion-footer>